$font-stack: Helvetica, sans-serif;
$primary-color: #333;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
}

header {
  height: 80px;
  background: rgb(35, 35, 35)
}

.navigation {
  height: 100%;
  display: flex;

  .navigation__button {
    display: flex;
    align-items: center;
    font-size: x-large;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 14px 16px;
    background: rgba(20, 20, 20, 0.3);
  }
}


.trace-table {
  display: table;
  width: 100%;
  border-collapse: collapse;

  .row-container {
    display: table-row
  }

  .row-container__error {
    border: solid 2px red;
  }
}


.trace-table__cell {
  display: table-cell;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, Helvetica,
  sans-serif;
  padding: 12px 8px 12px 8px;
  color: white;
  border: 1px solid #ddd;
  background-color: #141414;
  white-space: pre-wrap;
}

.main-grid {
  padding: 20px;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "main search-panel";

  .main {
    grid-area: main;
    resize: horizontal;
    overflow-x: auto;
    height: max-content;

    .trace-details {
      .trace-details__span-name {
        color: white;
        text-align: center;
        margin: 15px 0 0 0;
      }

      .trace-details__event {
        margin: 0 0 0 0;
        white-space: pre-wrap;
      }

      .trace-details__event-timestamp {
        margin: 0 0 0 0;
        white-space: pre-wrap;
        color: springgreen;
        font-size: xx-small;
      }
    }
  }



  .search-panel {
    width: 100%;
    height: max-content;
    border-radius: 6px;
    background: #f2f2f2;
    grid-area: search-panel;
    resize: horizontal;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    .traces-counter {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .search-panel__label {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: large;
      padding: 10px;
      display: block;
    }

    .search-panel__input-flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      p {
        font-size: large;
      }
    }


    .search-panel__input {
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 1em;
      display: block;
      border-style: solid;
      border-radius: 4px;
      border-width: 3px;
    }

    .search-panel__input__inline {
      margin-left: 5px;
      display: inline;
    }
  }
}
